
<div class="row">
    <div class="col-8">
        {{#each articles}}
        <div class="card mb-4">
        <div class="card-body">
            <p class="small text-black-50">{{updatedAt}}</p>
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{content}}</p>

        </div>
            <div class="card-footer text-muted">
            <a href="#" class="card-link">Comment</a>
        </div>
        </div>
        {{/each}}
    </div>
    <div class="col-4">
        <p>Welcome to your blog!</p>
        <button type="logout" class="btn btn-primary" id="newPostButton">Make new post</button><br><br>
        <button type="logout" class="btn btn-secondary" id="logoutButton">Log Out</button>
    </div>
</div>




<script src="/js/profile-script.js"></script>
